<!-- This page displays when the 404 error is recieved by the server. -->
<!DOCTYPE html>
<html>
    <head>
        <title>Page Not Found</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
        <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
    </head>
    <!-- Navigation bar -->  
    <body>
        <div class="navBar">
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="booking">Book Room</a></li>
                    <li><a href="attractions">Attractions</a></li>
                    <li><a href="review">Review</a></li>
                </ul>
            </div>
        </div>
        <!-- Message -->  
        <div class="flex-container">
            <div><h1>The page you were looking for was not found.</h1></div>
        </div>
        
    </body>
</html>