<!DOCTYPE html>
<html>
    <head>
        <title>Booking</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
        <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
    </head>

    <body>
        <div class="navBar">
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a class="active" href="bookroom">Book Room</a></li>
                    <li><a href="attractions">Attractions</a></li>
                    <li><a href="test">TEST</a></li>
                    <li><a href="review">Review</a></li>
                </ul>
            </div>
        </div>
        
        <div class="flex-container">
            <div><h1>Book Room</h1></div>
                 
            <div>
                <p> TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEX<br>
                    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT <br>
                    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT <br>
                    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT <br>
                    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT <br>
                    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT <br>
                    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT <br>
                </p>
            </div>
            
            <div>
                <img src="example.jpeg" alt="Example img">
                <img src="hotel01.jpg" alt="Hotel img">
            </div>
            
        </div>
        
    </body>
</html>