<!DOCTYPE html>
<html>
    <head>
        <title>Booking_Admin</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
        <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
    </head>

    <body>
        <div class="navBar">
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/booking">Book Room</a></li>
                    <li><a href="/attractions">Attractions</a></li>
                    <li><a href="/review">Review</a></li>
                </ul>
            </div>
        </div>
        
        <div class="flex-container">
            <div><h1>Admin Page</h1></div>
                 
            <div class="table-container">
                <h2>Booking Requests</h2>
                {% for line in bookingFile %}
                    {% if line[-1] == "REQUEST" %}
                    <table>
                        <tr>
                            <td>
                                {% for item in line %}
                                    {{item}}<br>
                                {% endfor %}
                                <div class="formBox">
                                    <form action="/booking/admin/confirm" method="post">
                                        <button type="submit" name="confirm" value="{{loop.index0}}">Confirm</button>
                                    </form>
                                    <form action="/booking/admin/deny" method="post">   
                                        <button type="submit" name="deny" value="{{loop.index0}}">Deny</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                 {% endfor %}
            </div>
            
            <div class="table-container">
                <h2>Bookings Confirmed</h2>
                {% for line in bookingFile %}
                    {% if line[-1] == "CONFIRMED" %}
                    <table>
                        <tr>
                            <td>
                                {% for item in line %}
                                    {{item}}<br>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                 {% endfor %}
            </div>
            
            <div class="table-container">
                <h2>Bookings Denied</h2>
                {% for line in bookingFile %}
                    {% if line[-1] == "DENIED" %}
                    <table>
                        <tr>
                            <td>
                                {% for item in line %}
                                    {{item}}<br>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                 {% endfor %}
            </div>
            
        </div>
    </body>
</html>