<!-- This is the admin page for bookings. -->
<!DOCTYPE html>
<html>
    <head>
        <title>Booking_Admin</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
        <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
    </head>
    <!-- Navigation bar -->
    <body>
        <div class="navBar">
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/booking">Book Room</a></li>
                    <li><a class="active" href="/booking/admin">Admin</a></li>
                    <li><a href="/attractions">Attractions</a></li>
                    <li><a href="/review">Review</a></li>
                </ul>
            </div>
        </div>
        
        <div class="flex-container">
            <div><h1>Admin Page</h1></div>
            <!-- Display flashed messages from server -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h3 style="text-align: center; background-color: white; margin: 4px 0;">{{ message }}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- Clear csv links -->
            <div><a href="/booking/admin/clearAll"><strong>Clear All Bookings</strong></a></div>
            <div><a href="/booking/admin/clearDenied"><strong>Clear All Denied Bookings</strong></a></div>
            <!-- Display all booking requests -->
            <div class="table-container">
                <h2>Booking Requests</h2>
                {% for line in bookingFile %}
                    {% if line[-1] == "REQUEST" %}
                    <table>
                        <tr>
                            <td>
                                {% for item in line %}
                                    {{item}}<br>
                                {% endfor %}
                                <div class="formBox">
                                    <form action="/booking/admin/confirm" method="post">
                                        <button type="submit" name="confirm" value="{{loop.index0}}">Confirm</button>
                                    </form>
                                    <form action="/booking/admin/deny" method="post">   
                                        <button type="submit" name="deny" value="{{loop.index0}}">Deny</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </table>
                    {% endif %}
                 {% endfor %}
            </div>
            <!-- Display all confirmed bookings -->
            <div class="table-container">
                <h2>Bookings Confirmed</h2>
                {% for line in bookingFile %}
                    {% if line[-1] == "CONFIRMED" %}
                    <table>
                        <tr>
                            <td>
                                {% for item in line %}
                                    {{item}}<br>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                    {% endif %}
                 {% endfor %}
            </div>
            <!-- Display all denied bookings -->
            <div class="table-container">
                <h2>Bookings Denied</h2>
                {% for line in bookingFile %}
                    {% if line[-1] == "DENIED" %}
                    <table>
                        <tr>
                            <td>
                                {% for item in line %}
                                    {{item}}<br>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                    {% endif %}
                 {% endfor %}
            </div>
            
        </div>
    </body>
</html>