<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
        <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
    </head>

    <body>
        <div class="navBar">
            <div class="menu">
                <ul>
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="booking">Book Room</a></li>
                    <li><a href="attractions">Attractions</a></li>
                    <li><a href="review">Review</a></li>
                </ul>
            </div>
        </div>
        
        <div class="flex-container">
            <div><h1>Holiday Rental Site</h1></div>
                 
            <div>
                <h2>Hotel Norwich</h2>
                <p> Is located in the gud city of Norwich.<br>
                    10/10<br>
                    The end.
                </p>
            </div>
            
            <div>
                <div class="gallery">
                    <h2>Image Gallery</h2>
                    <a target="_blank" href="{{ url_for('static', filename='images/gallery1.jpg') }}">
                    <img src="{{ url_for('static', filename='images/gallery1.jpg') }}"></a>
                    
                    <a target="_blank" href="{{ url_for('static', filename='images/gallery2.jpg') }}">
                    <img src="{{ url_for('static', filename='images/gallery2.jpg') }}"></a>
                    
                    <a target="_blank" href="{{ url_for('static', filename='images/gallery3.jpg') }}">
                    <img src="{{ url_for('static', filename='images/gallery3.jpg') }}"></a>
                    
                    <a target="_blank" href="{{ url_for('static', filename='images/gallery4.jpg') }}">
                    <img src="{{ url_for('static', filename='images/gallery4.jpg') }}"></a>
                    
                    <a target="_blank" href="{{ url_for('static', filename='images/gallery5.jpg') }}">
                    <img src="{{ url_for('static', filename='images/gallery5.jpg') }}"></a>
                    
                    <a target="_blank" href="{{ url_for('static', filename='images/gallery6.jpg') }}">
                    <img src="{{ url_for('static', filename='images/gallery6.jpg') }}"></a>
                </div>
            </div>
            
        </div>
    </body>
</html>

