<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='galleryjs.js') }}"></script>
        <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
    </head>

    <body>
        <div class="navBar">
            <div class="menu">
                <ul>
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="booking">Book Room</a></li>
                    <li><a href="attractions">Attractions</a></li>
                    <li><a href="review">Review</a></li>
                </ul>
            </div>
        </div>
        
        <div class="flex-container">
            <div><h1>Holiday Rental Site</h1></div>
                 
            <div>
                <h2>Hotel Norwich</h2>
                <p> Is located in the gud city of Norwich.<br>
                    10/10<br>
                    The end.
                </p>
            </div>
            
            <div class="gallery">
                <img src="{{ url_for('static', filename='images/gallery1.jpg') }}" onclick="openModal();currentSlide(1)">
                    
                <img src="{{ url_for('static', filename='images/gallery2.jpg') }}" onclick="openModal();currentSlide(2)">
                    
                <img src="{{ url_for('static', filename='images/gallery3.jpg') }}" onclick="openModal();currentSlide(3)">
                    
                <img src="{{ url_for('static', filename='images/gallery4.jpg') }}" onclick="openModal();currentSlide(4)">
                    
                <img src="{{ url_for('static', filename='images/gallery5.jpg') }}" onclick="openModal();currentSlide(5)">
                  
                <img src="{{ url_for('static', filename='images/gallery6.jpg') }}" onclick="openModal();currentSlide(6)">
            </div>
            <!-- The Modal/Lightbox -->
			<div id="myModal" class="modal">
				<div class="modal-content">

					<div class="mySlides">
						<img src="{{ url_for('static', filename='images/gallery1.jpg') }}" style="width:100%">
					</div>

					<div class="mySlides">
						<img src="{{ url_for('static', filename='images/gallery2.jpg') }}" style="width:100%">
					</div>

					<div class="mySlides">
						<img src="{{ url_for('static', filename='images/gallery3.jpg') }}" style="width:100%">
					</div>

					<div class="mySlides">
						<img src="{{ url_for('static', filename='images/gallery4.jpg') }}" style="width:100%">
					</div>
					
					<div class="mySlides">
						<img src="{{ url_for('static', filename='images/gallery5.jpg') }}" style="width:100%">
					</div>
					
					<div class="mySlides">
						<img src="{{ url_for('static', filename='images/gallery6.jpg') }}" style="width:100%">
					</div>

					<!-- Next/previous controls -->
					<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSlides(1)">&#10095;</a>
                    <a class="close" onclick="closeModal()">&times;</a>
				</div>
			</div>
    </body>
</html>
