<!-- This is the review page. --> 
<!DOCTYPE html>
<html>
    <head>
        <title>Review</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
        <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
    </head>
    <!-- Navigation bar --> 
    <body>
        <div class="navBar">
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="booking">Book Room</a></li>
                    <li><a href="attractions">Attractions</a></li>
                    <li><a class="active" href="review">Review</a></li>
                </ul>
            </div>
        </div>
        
        <div class="flex-container">
            <div>
                <h2>Submit Review</h2><br>
                <!-- Display flashed messages from the server --> 
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h3 style="text-align: center; background-color: white; margin: 4px 0;">{{ message }}</h3>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!-- Review form --> 
                <form action="review" method="post"><br>
                    Name <input type="text" name="name" placeholder="Name"><br><br>
                    Enter Review<br><textarea name="review" rows="10" cols="40" placeholder="Enter your review here."></textarea><br><br>
                    Select Rating <select name="rating">
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select><br><br> 
                    <input type="submit" value="Submit" style="width: 100px;"/>
                </form>
            </div>
            <!-- Display all reviews --> 
            <div class="table-container">
                <h2>Reviews</h2>
                {% for line in reviewsFile %}
                    <table>
                        <tr>
                            <td>
                                {% for item in line %}
                                    {{item}}<br>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                {% endfor %}
            </div>
            
        </div>
    </body>
</html>