<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
    </head>

    <body>
        <div class ="flex-box">
            <div><h1>TEST</h1></div>
            <div>
                <a href="test">TEST</a>
                <a href="link">Book room</a>
                <a href="link">Show Webpage</a>
                <a href="/">Go home</a>
                <a href="link">Review</a>
            </div>
            
            <div>1</div>
            <div>2</div>
            
        </div>
    </body>
</html>