<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
    </head>

    <body>
        <div class="fixed">
            <div class="navBar">
                <div class="menu">
                    <ul>
                        <li><a class="active" href="test">TEST</a></li>
                        <li><a href="link">Book room</a></li>
                        <li><a href="link">Show Webpage</a></li>
                        <li><a href="/">Go Home</a></li>
                        <li><a href="link">Review</a></li>
                        <li><a href="link">Review</a></li>
                        <li><a href="link">Review</a></li>
                        <li><a href="link">Review</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class ="flex-box">
            <div><h1>TEST</h1></div>
            
            <div>1</div>
            <div>2</div>
            
        </div>
    </body>
</html>